%div.container
  %h1
    = @user.full_name
  %h1 First Aid Donations
  %br
  - total = 0
  %h3 Charities Donated to

  - @user_donations.each do |donation|
    - charity = Charity.find(donation.charity_id)
    %p
      %strong
        = charity.title
      - dis_id = donation.disaster_id
    %p
      - category = Disaster.find(dis_id).category.capitalize
      =category
    %p
      - d_amount = donation.amount/100
    %p
      $#{sprintf('%.2f', d_amount)}

    - total += d_amount

  %br
  %h4
    Total Amount: $
    = sprintf('%.2f', total)

  %h4
    - if @hero
      = @hero
      Hero
