#nearby_chars Nearby Charities
- @charities.each do |charity|
  %br
  %a.charity_title{href: "/disasters/#{@disaster.id}/charities/#{charity.id}"}= charity.title
  %br
  = charity.street_address
  = charity.city
  = charity.state
  %br
    = charity.phone
  %br
  - if current_user
    - @charity = charity
    = render "stripe_form"










