#nearby_chars Nearby Charities
%div{:style => "width:250px;height:600px;line-height:1.5em;overflow:auto;padding:5px;"}
  - @charities.each do |charity|
    %a.charity_title{href: "/disasters/#{@disaster.id}/charities/#{charity.id}"}= charity.title
    %br
    - if current_user
      = charity.street_address
      = charity.city
      = charity.state
      = charity.phone
      - @charity = charity
      = render "stripe_form"
    - else
      = charity.street_address
      = charity.city
      = charity.state
      .charity_phone
        = charity.phone
    %br










