#nearby_chars Nearby Charities
%div{:style => "width:250px;height:600px;line-height:1.5em;overflow:auto;padding:5px;"}
  - @charities.each do |charity|
    %a.charity_title{href: "/disasters/#{@disaster.id}/charities/#{charity.id}"}= charity.title
    %br
    = charity.street_address
    = charity.city
    = charity.state
    = charity.phone
    - if current_user
      - @charity = charity
      = render "stripe_form"
    %br










