%h1 All Charities For
%h1= @disaster.category.capitalize
%hr
- @charities.each do |charity|
  %a{href: "/disasters/#{@disaster.id}/charities/#{charity.id}"}= charity.title
  %br
  = charity.description
  %br
  - if current_user
    - @charity = charity
    = render "stripe_form"










