%h1 A Charity Page
%h3
  = @charity.title
%br
%h4
  = @charity.description

// checkout form
- if user_signed_in?
  = render "stripe_form"

%h3
  - if flash[:good]
    = flash[:good]
  - if flash[:problem]
    = flash[:problem]
// form if using stripe.js
-# %form#payment-form{:action => "/disasters/#{params[:disaster_id]}/charities/#{@charity.id}/stripe_charge", :method => "POST"}
-#   %span.payment-errors
-#   .form-row
-#     %label
-#       %span Card Number
-#       %input{"data-stripe" => "number", :size => "20", :type => "text"}/
-#   .form-row
-#     %label
-#       %span CVC
-#       %input{"data-stripe" => "cvc", :size => "4", :type => "text"}/
-#   .form-row
-#     %label
-#       %span Expiration (MM/YYYY)
-#       %input{"data-stripe" => "exp-month", :size => "2", :type => "text"}/
-#     %span /
-#     %input{"data-stripe" => "exp-year", :size => "4", :type => "text"}/
-#   %button{:type => "submit"} Submit Payment
