%h1 A Charity Page
%h3
  = @charity.title
%br
%h4
  = @charity.description

// checkout form
- if user_signed_in?
  = render "stripe_form"

%h3
  - if flash[:good]
    = flash[:good]
  - if flash[:problem]
    = flash[:problem]
